* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: sans-serif;
  background-color: #efefef;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  background-color: #edf2f7;
  position: relative;
}

.app-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.75rem 0.75rem 0.75rem 0;
}
.app-search {
  flex-grow: 2;
  margin-top: 2rem;
}
.app-search input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 280px;
  height: 40px;
  margin-left: 3rem;
  background-color: #e2e8f0;
}
.app-search input:focus {
  border: none;
}
.app-nav {
  flex-grow: 1;
}
.nav-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.nav-item a {
  color: #1a202c;
}
.app-sidebar {
  grid-row: 1/-1;
  background-color: #1a202c;
  display: none;
  color: #a0aec0;
}
.app-sidebar p {
  height: 80px;
}

.app-content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 100px;
  column-gap: 20px;
  padding: 100px 20px;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.items img {
  width: 300px;
  height: 280px;
  border-radius: 15px;
}
.items .description {
  width: 280px;
  /* height: 144px; */
  border-radius: 10px;
  bottom: -70px;
  position: absolute;
  background-color: #fff;
}
.description {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}
.desc-item .plus {
  background-color: #b2f5ea;
  color: #285e61;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  margin-right: 1rem;
}
.desc-price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.desc-price .city-name {
  font-weight: bold;
  font-size: 18px;
}
.desc-rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate i {
  color: #38b2ac;
}
.app-filter {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  background-color: #2d3748;
}
.filter-item {
  padding: 20px 10px;
}
.filter-bedrooms,
.filter-bathrooms,
.filter-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 118px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #4a5568;
  color: #efefef;
  font-size: 14px;
}
.filter-item:last-child {
  grid-column: 1/-1;
}
.filter-price {
  width: 256px;
  background-color: #4a5568;
}
.location-type,
.amenities {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: #2d3748;
}
.location-type p,
.amenities p {
  height: 2rem;
}
.type-item,
.amenities-item {
  padding: 0.5rem;
}
.type-item label,
.amenities-item label {
  margin-left: 0.5rem;
}

.sidebar-btn {
  width: 256px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 15px;
  background-color: #667eea;
  margin: 2rem 1rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .app-content {
    grid-template-columns: 1fr 1fr;
  }
  .app-header {
    flex-direction: row;
  }
  .nav-items {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .app {
    grid-template-columns: 296px 1fr;
  }

  .app-sidebar {
    display: block;
  }
  .app-content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .app-header {
    flex-direction: row;
  }
  .nav-items {
    flex-direction: row;
    margin-top: 0;
  }
  .app-search {
    margin-top: 0;
  }
}
